<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Título
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Descrição
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Custo
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Ações
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
          <%= call.title %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          <%= call.description %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          R$ <%= call.getService.custo unless call.getService.nil? %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          <%= link_to "Mostrar este chamado", call, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          <% unless call.price.nil?%>
            <%= link_to "Aprovar serviço", call, class: "ml-2 rounded-lg py-3 px-5 bg-green-200 inline-block font-medium" %>
          <%end%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
