<div id="<%= dom_id call %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= call.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= call.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= call.client_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= call.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Technician:</strong>
    <%= call.technician_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Opened at:</strong>
    <%= call.opened_at %>
  </p>

</div>
