<nav class="bg-blue h-20 flex items-center justify-between px-6 text-white" style="background-color: blue;">
    <div class="flex space-x-4">
        <%= link_to 'Página Inicial', root_path, class: "text-lg font-semibold hover:text-blue-200" %>
        <% if user_signed_in?%>
            <%= link_to 'Chamados', calls_path, class: "text-lg font-semibold hover:text-blue-200" %>
        <% end %>
        <% unless current_user.nil? || current_user.cliente?%>
            <%= link_to 'Serviços', services_path, class: "text-lg font-semibold hover:text-blue-200" %>
            <%#= button_to 'Gerar', imprimir_path, method: :post, data: { turbo: false }, class: "text-lg font-semibold hover:text-blue-200" %> 
            <%= link_to 'Usuários', usuario_index_path, class: "text-lg font-semibold hover:text-blue-200" %>
        <%end%>
    </div>
    <div>
        <% if user_signed_in? %>
            <%=current_user.email%> |
            <%= link_to 'Deslogar', destroy_user_session_path, data: { turbo_method: :delete }, class: "text-lg font-semibold hover:text-blue-200" %>
        <% else %>
            <%= link_to 'Entrar', new_user_session_path, class: "text-lg font-semibold hover:text-blue-200" %>
        <% end %>
    </div>
</nav>
<hr class="border-gray-300">
